.hamburgerContainer {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1000;
  }
  
  .hamburgerIcon {
    font-size: 24px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
    color: white;
  }
  
  .hamburgerIcon:hover {
    background: rgba(255, 255, 255, 0.4);
  }
  
  .menu {
    position: absolute;
    top: 40px;
    left: 0;
    background: white;
    width: 220px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
  }
  
  .menu.open {
    transform: scaleY(1);
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  
  .menu li:last-child {
    border-bottom: none;
  }
  
  .menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    display: block;
  }
  
  .menu a:hover {
    color: #007bff;
  }
  
  .selected {
    background-color: #47a4ec4b;
  }